# Files and directories created by pub.
.dart_tool/
.packages
/.fvm
/.vscode

# Conventional directory for build output.
build/
coverage/

# Files and directories created by test.
test/helper/generated_project/**

example2
.fvm
.vscode
.idea/
